mixin dropdown-input(options)

  div.input-wrapper.input-wrapper_dropdown

    if options.title
      span.input-wrapper__title(for="dropdown") #{options.title}

    div.input-wrapper__field.input-wrapper__field_dropdown(class=options.class) 
      | #{options.placeholder ? options.placeholder : "Укажите кол-во..."}

    ul.input-wrapper__select.dropdown-select

      each item in options.items

        li.dropdown-select__option
          //- Наименование
          span.dropdown-select__title 
            | #{item.title ? item.title : "Кол-во чего-то..."}

          div.dropdown-select__counter
            button.dropdown-select__minus(type="button") -
            //- Кол-во
            b.dropdown-select__total 
              | #{item["default-value"] ? item["default-value"] : 0}

            button.dropdown-select__plus(type="button") +

      li.dropdown-select__buttons 
        button.dropdown-select__clear(type="button") Очистить
        button.dropdown-select__accept(type="button") Применить
